DB_HOST=lkjtaheykminljupsvar.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_NAME=postgres
DEEPSEEK_API_KEY=sk-60d2433d1edb4ab1bca5477e92fab56e
JWT_SECRET=bf347209-4081-42e5-ada8-53e7c8008800
PORT=3000
